name: Generate Calendar

on:
  push:
    branches:
      - main
  schedule:
    - cron: '32 4 * * 1,4'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Generate Calendar
        run: |
          mkdir -p ./ics/fr-FR

          # Generate the ICS file for today's celebration
          ./fete.sh -v -d 9 > ./ics/fr-FR/fetedujour.ics

          # Generate the ICS file for today's historical event
          pip install html2text
          ./histoire.sh -v -d 9 > ./ics/fr-FR/histoire.ics

      - name: Upload Pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./ics

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: generate
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
